[data-component='Collections'] {
    $performing-height: 200px;

    .card--performing {
        img,
        .overlay {
            border-radius: 0.25rem;
        }

        img {
            height: $performing-height;
            object-fit: cover;
            object-position: center;
        }

        .overlay {
            width: 100%;
            height: $performing-height;
            background-image: linear-gradient(to bottom right, rgba(232, 67, 147, 0.25), rgba(253, 149, 199, 1)),
                linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
            position: absolute;
            top: 0;
            left: 0;
        }

        .content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: $performing-height;
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                font-weight: bold;
                color: white;
                text-align: center;
            }
        }
    }

    .card--review {
        min-height: 124px;

        .collections-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

        .button-icon {
            cursor: pointer;
            transition: opacity 300ms ease;
        }

        .button-icon:hover {
            opacity: 0.2;
        }
    }
}
