[data-component='CreateCollection'] {
    .submit-button {
        margin-top: 0.5rem;
    }

    @media (max-width: 1200px) {
        .collection-form {
            display: flex;
            gap: 1rem;
        }

        .submit-button {
            margin-top: 0;
        }
    }

    @media (min-width: 1200px) {
        .submit-button {
            display: block;
            width: 100%;
        }
    }
}
